<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl"> 
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Target</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="asset/css-libraries/bootstrap.min.css" rel="stylesheet"/>
		<script src="asset/js-libraries/jquery-2.1.4.min.js"></script>
		<script src="asset/js-libraries/angularjs1.6.js"></script>
		<script src="asset/js-libraries/sanitize.js"></script>
		<script src="asset/js-libraries/bootstrap.min.js"></script>
		<link href="asset/css/style.css" rel="stylesheet"/>
		<script src="asset/js-libraries/jquery_latest.js"></script>
		<script src="asset/js/ninja.js"></script>
		<link href="asset/css/carousel.css" rel="stylesheet"/>
		<!--<script src="asset/js-libraries/scriptlib.js"></script>
			<link href="asset/css-libraries/stylelib.css" rel="stylesheet"/>
			<link href="asset/css/style.css" rel="stylesheet"/>
		<script src="asset/js/script.js"></script>-->
		<script src="app.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-sm-6 center">
					<h3>{{ CatalogEntryView[0].title }}</h3>
					<div class="product-slider">
						<div id="carousel" class="carousel slide">
							<div class="carousel-inner">
								<div class="item active"> 
								<img ng-src="{{CatalogEntryView[0].Images[0].AlternateImages[0].image}}" class="magniflier"> </div>
								<div class="item"> <img ng-src="{{CatalogEntryView[0].Images[0].AlternateImages[1].image}}" class="magniflier"> </div>
								<div class="item"> <img ng-src="{{CatalogEntryView[0].Images[0].AlternateImages[2].image}}" class="magniflier"> </div>
								<div class="item"> <img ng-src="{{CatalogEntryView[0].Images[0].AlternateImages[3].image}}" class="magniflier"> </div>
								<div class="item"> <img ng-src="{{CatalogEntryView[0].Images[0].AlternateImages[4].image}}" class="magniflier"> </div>
								<div class="item"> <img ng-src="{{CatalogEntryView[0].Images[0].AlternateImages[5].image}}" class="magniflier"> </div>
							</div>
						</div>
						<br/>
						<br/>
						<br/>
						<img ng-src="asset/images/MAGNIFY.png" class="nomob">
						<div class="clearfix">
							<div id="thumbcarousel" class="carousel slide" data-interval="false">
								<div class="carousel-inner">
									<div class="item active">
										<div data-target="#carousel" data-slide-to="0" class="thumb">
										<img ng-src="{{CatalogEntryView[0].Images[0].AlternateImages[0].image}}"></div>
										<div data-target="#carousel" data-slide-to="1" class="thumb">
										<img ng-src="{{CatalogEntryView[0].Images[0].AlternateImages[1].image}}"></div>
										<div data-target="#carousel" data-slide-to="2" class="thumb">	
										<img ng-src="{{CatalogEntryView[0].Images[0].AlternateImages[2].image}}"></div>
									</div>
									<div class="item">
										<div data-target="#carousel" data-slide-to="3" class="thumb">
										<img ng-src="{{CatalogEntryView[0].Images[0].AlternateImages[3].image}}"></div>
										<div data-target="#carousel" data-slide-to="4" class="thumb">
										<img ng-src="{{CatalogEntryView[0].Images[0].AlternateImages[4].image}}"></div>
										<div data-target="#carousel" data-slide-to="5" class="thumb">
										<img ng-src="{{CatalogEntryView[0].Images[0].AlternateImages[5].image}}"></div>
									</div>
								</div>
								<!-- /carousel-inner --> 
							<a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev"> <i class="fa fa-angle-left" aria-hidden="true"></i> </a> <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i> </a> </div>
							<!-- /thumbcarousel --> 
						</div>
					</div>
					<br/>
					<!--slide show end-->
				</div>
				<div class="col-lg-6 col-sm-6">
					<p class="fontsize23px"><b>{{ CatalogEntryView[0].Offers[0].OfferPrice[0].formattedPriceValue }}</b><sub>online price</sub></p>
					<hr/>
					<p class="redcolor"><img src="asset/images/PROMO.png"/>
						<span>{{ CatalogEntryView[0].Promotions[0].Description[0].shortDescription | lowercase }}</span><br/>
					<img src="asset/images/PROMO.png"/>
					<span>{{ CatalogEntryView[0].Promotions[1].Description[0].shortDescription | lowercase }}</span></p>
					<hr/>
					<form id='myform' method='POST' action='#'>
						<label class="fontweightnormal">quantity:</label>
						<input type='button' value='-' class='qtyminus' field='quantity' />
						<input type='text' name='quantity' value='0' class='qty' />
						<input type='button' value='+' class='qtyplus' field='quantity' />
					</form>
					<div class="row">
						<div class="col-lg-5 col-xs-6">
							<div ng-if="CatalogEntryView[0].purchasingChannelCode == '2' || CatalogEntryView[0].purchasingChannelCode == '0' ">
								<input type="button" class="form-controls button" value="PICKUP IN STORE"/>
							</div>
						</div>
						<div class="col-lg-5 col-xs-6">
							<div ng-if="CatalogEntryView[0].purchasingChannelCode == '1' || CatalogEntryView[0].purchasingChannelCode == '0'">
								<input type="button" class="form-controls button_red marginlftminus1em" value="ADD TO CART"/>	<br/>
							</div>
						</div>
					</div>
					<div ng-if="CatalogEntryView[0].purchasingChannelCode == '2' || CatalogEntryView[0].purchasingChannelCode == '0' ">
						<label class="subinfo"> find in a store</label>
					</div>
					<br/>
					<table width="81%" class="returntbl">
						<tr>
							<td class="returnswidth">
								<span class="fontsize16px">returns</span> </td><td class="returnpolicy">
							The item must be return within 30 days of the ship date. See return policy for details. Prices, promotions, styles, availability may vary by store and online.</td>
						</tr>
					</table>
					<br/>
					<table class="addto">
						<tr>
							<td><input type="button" value="ADD TO REGISTRY"/>
							</td>
							<td><input type="button" value="ADD TO LIST"/></td>
							<td><input type="button" value="SHARE"/></td>
						</tr>
					</table>
					<h3>Product Highlights</h3>
					<ul ng-repeat="x in CatalogEntryView[0].ItemDescription[0].features" class="mrgnbtm0 marginlft1em">
						<li  ng-bind-html="x">	</li> 
					</ul>
				</div>
				<br/>
				<br/>
				<div class="row">
					<div class="col-lg-6">
						<table class="ratings" width="100%">
							<tr><td>
								<span class="fa fa-star fa-lg checked"></span>
								<span class="fa fa-star fa-lg checked"></span>
								<span class="fa fa-star fa-lg checked"></span>
								<span class="fa fa-star fa-lg checked"></span>
								<span class="fa fa-star fa-lg checked"></span>
							<b class="marginlft7">Overall</b></td>
							<td>
								<a href="Reviews.html" target="_blank" class="reviewlink"><b>View all 
									{{CatalogEntryView[0].CustomerReview[0].Reviews.length}}
									 reviews</b></a>
							</td>
							</tr>
						</table><br/>
						<table width="100%" class="reviewtbl">
							<tr>
								<th>PRO<br/><span class="procon">most helpful 4-5 star reviews</span></th>
								<th>CON<br/><span class="procon">most helpful 4-5 star reviews</span></th>
							</tr>
							<tr>
								<td>
									<p ng-if="CatalogEntryView[0].CustomerReview[0].Reviews[2].overallRating == '1'">
										<span class="fa fa-star fa-lg checked"></span>
										<span class="fa fa-star fa-lg"></span>
										<span class="fa fa-star fa-lg"></span>
										<span class="fa fa-star fa-lg"></span>
										<span class="fa fa-star fa-lg"></span>
									</p>
									<p ng-if="CatalogEntryView[0].CustomerReview[0].Reviews[2].overallRating  == '2'">
										<span class="fa fa-star fa-lg checked"></span>
										<span class="fa fa-star fa-lg checked"></span>
										<span class="fa fa-star fa-lg"></span>
										<span class="fa fa-star fa-lg"></span>
									<span class="fa fa-star fa-lg"></span> </p>
									<p ng-if="CatalogEntryView[0].CustomerReview[0].Reviews[2].overallRating  == '3'">
										<span class="fa fa-star fa-lg checked"></span>
										<span class="fa fa-star fa-lg checked"></span>
										<span class="fa fa-star fa-lg checked"></span>
										<span class="fa fa-star fa-lg"></span>
									<span class="fa fa-star fa-lg"></span> </p>					
									<p ng-if="CatalogEntryView[0].CustomerReview[0].Reviews[2].overallRating  == '4'">
										<span class="fa fa-star fa-lg checked"></span>
										<span class="fa fa-star fa-lg checked"></span>
										<span class="fa fa-star fa-lg checked"></span>
										<span class="fa fa-star fa-lg checked"></span>
									<span class="fa fa-star fa-lg"></span> </p>
									<p ng-if="CatalogEntryView[0].CustomerReview[0].Reviews[2].overallRating  == '5'">
										<span class="fa fa-star fa-lg checked"></span>
										<span class="fa fa-star fa-lg checked"></span>
										<span class="fa fa-star fa-lg checked"></span>
										<span class="fa fa-star fa-lg checked"></span>
									<span class="fa fa-star fa-lg checked"></span> </p>
									<span class="reviewtitle">{{CatalogEntryView[0].CustomerReview[0].Pro[0].title}}</span><br/>{{CatalogEntryView[0].CustomerReview[0].Pro[0].review}}<br/><br/>
									<span class="clrbule"><b>{{CatalogEntryView[0].CustomerReview[0].Pro[0].screenName}}</b> </span>
									<span ng-bind="CatalogEntryView[0].CustomerReview[0].Pro[0].datePosted | slice:3:10"></span>,<span ng-bind="CatalogEntryView[0].CustomerReview[0].Pro[0].datePosted | slice:23:28"></span>
								</td>
								<td><p ng-if="CatalogEntryView[0].CustomerReview[0].Reviews[0].overallRating == '1'" class="margintopminus1pt5">
									<span class="fa fa-star fa-lg checked"></span>
									<span class="fa fa-star fa-lg"></span>
									<span class="fa fa-star fa-lg"></span>
									<span class="fa fa-star fa-lg"></span>
									<span class="fa fa-star fa-lg"></span>
								</p>
								<p ng-if="CatalogEntryView[0].CustomerReview[0].Reviews[0].overallRating == '2'" class="margintopminus1pt5">
									<span class="fa fa-star fa-lg checked"></span>
									<span class="fa fa-star fa-lg checked"></span>
									<span class="fa fa-star fa-lg"></span>
									<span class="fa fa-star fa-lg"></span>
								<span class="fa fa-star fa-lg"></span> </p>
								<p ng-if="CatalogEntryView[0].CustomerReview[0].Reviews[0].overallRating == '3'" class="margintopminus1pt5">
									<span class="fa fa-star fa-lg checked"></span>
									<span class="fa fa-star fa-lg checked"></span>
									<span class="fa fa-star fa-lg checked"></span>
									<span class="fa fa-star fa-lg"></span>
								<span class="fa fa-star fa-lg"></span> </p>	
								<p ng-if="CatalogEntryView[0].CustomerReview[0].Reviews[0].overallRating == '4'" class="margintopminus1pt5">
									<span class="fa fa-star fa-lg checked"></span>
									<span class="fa fa-star fa-lg checked"></span>
									<span class="fa fa-star fa-lg checked"></span>
									<span class="fa fa-star fa-lg checked"></span>
								<span class="fa fa-star fa-lg"></span> </p>
								<p ng-if="CatalogEntryView[0].CustomerReview[0].Reviews[0].overallRating == '5'" class="margintopminus1pt5">
									<span class="fa fa-star fa-lg checked"></span>
									<span class="fa fa-star fa-lg checked"></span>
									<span class="fa fa-star fa-lg checked"></span>
									<span class="fa fa-star fa-lg checked"></span>
								<span class="fa fa-star fa-lg checked"></span> </p>
								<span class="reviewtitle">{{CatalogEntryView[0].CustomerReview[0].Con[0].title}}</span><br/>{{CatalogEntryView[0].CustomerReview[0].Con[0].review}} <br/><br/>
								<span class="clrbule"><b>{{CatalogEntryView[0].CustomerReview[0].Con[0].screenName}}</b> 
								</span>
								
								<span ng-bind="CatalogEntryView[0].CustomerReview[0].Con[0].datePosted | slice:3:10"></span>,
								<span ng-bind="CatalogEntryView[0].CustomerReview[0].Con[0].datePosted | slice:23:28"></span>
								</td>
							</tr>
						</table>
					</div>
					<div class="col-lg-6">
					</div>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
	</body>
</html>